#main
{
    height: 30em;
    width: 60em;
    overflow: hidden;
    margin: auto;
}
#menu
{
    padding:0;
    margin:0;
    list-style:none;
}
#menu li
{
    display:inline-block;
    position:relative;
    border-radius:11px 11px 11px 11px;
}
#menu li
{
    background-color: darkgrey;
    background-image: -webkit-linear-gradient(top, darkgrey 0%, #333A40 100%);
    background-image:linear-gradient(to bottom, darkgrey 0%, #333A40 100%);
}
#menu li:hover
{
    background: darkgrey;
}
#menu a
{
    text-decoration:none;
    display:block;
    padding:12px 39px;
    color:#fff;
    font-family:arial;
}
#menu li:hover a
{
color:#000;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-family: "Century Gothic";
				
}
#titre_principal	
{
    display: flex;
    flex-direction: column;
    font-family: "Century Gothic";
}
header h1
{
    font-family: "Century Gothic";;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}
body
{
    background-color: #6f8ba9;
    background-size: cover;
    color: black;
    font-family: 'Century Gothic';
}
#bloc_page
{
    width: 100%;
    margin: auto;
    background-color: rgba(225,225,225,0.7);
    padding-bottom: 10px;
    padding-top: 20px;
}
