#infoProp
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#devis
{
	border: thick;
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#client
{
	border:  black solid; 
	border-width: 1px;
	width : 300px;
	height: 100px;
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#intro
{
  	height: 50px; 
	top:200px;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;


}
#contenu
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#tva
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#montant
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#lA
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
td, th{
	border : 1px solid black;
}
th {
	background-color: grey;
}
table{
	border-collapse: collapse;
}

footer p 
{
	text-align: center;
}