#bloc_page
{
	width:900px;
	margin:auto;
}
#info
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: yellow ;
}
#infoProp
{
	position:relative;
	margin-top:15px;
	right:0px;
	background-color: aqua ;
	width:400px ;
	height: 100px;

}
#devis
{
	border: thick;
	position:relative;
	margin-top:10px;
	left: 0px;
	background-color: aqua ;
	width:350px;
	height:75px ;

}
#client
{
	border:  black solid; 
	border-width: 1px;
	width : 300px;
	height: 100px;
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#intro
{
  	height: 50px; 
	top:200px;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;


}
#contenu
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#bottom
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: green ;
}
#foot
{

}
#cl
{
	background-color: purple;
	height: 100px;
	width :100px;
}
#tva
{
	position:relative;
	margin-top:25px;
	left:;
	right:;
	bottom: ;
	background-color: cyan ;
	width: 300px;
	height:50px ;

}
#montant
{
	position:relative;
	top:;
	left:;
	right:;
	bottom: ;
	background-color: ;
	width:;
	height: ;

}
#lA
{
	display: flex;
	position:relative;
	margin-right:100px;
	margin-left: 500px
	margin-bottom:10px ;
	background-color: yellow;
	width:600px;
	height:100px ;

}
td, th{
	border : 1px solid black;
}
th {
	background-color: grey;
}
table{
	border-collapse: collapse;
}

footer p 
{
	text-align: center;
}